body {
  
    background-image: url('Imagenes/azulado.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: 3000px 2000px; /* La imagen de fondo cubrirá todo el cuerpo */
    /*background-position: center; /* La imagen de fondo se centrará */
   
}

body center{

    color: white;
    margin: 10px;
    padding: 2%;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

body center img{

    border-radius: 5px;
}
div{

    margin: 20px;
}

.caja{
    width: 1000px;
    position:inherit;
    margin:15px;
 }
 nav{
 
     position: absolute;
     top: 50px;
     right: 15px;
     margin-bottom: 20px;
 }
 nav li{
 
     display: inline;
     margin: 0 0 0 20px;
   
 }
 nav a{
 
     text-transform: uppercase;
     color:white;
     font-family: Arial, sans-serif;
     font-weight: bold;
     font-size: 18px;
 }
 nav a:hover{
     color:dimgrey;
     text-decoration: underline;
     font-size: 22px;
 }
 .navegacion li a.activo {
     color:grey; /* Cambiar el color del texto cuando está activo */
     font-weight: bold; /* Hacer el texto en negrita cuando está activo */
     font-size: 22px;
 }

h2{

    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

ul li{

    color: white;
    font-size: 20px;
    margin: 3px;
    font-weight: bold;
    font-family: Arial, sans-serif;

}

ul a{

    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    

}

ul a:hover{
  
    color:dimgrey;
    text-decoration: underline;
    font-size: 22px;
}
/* Estilos para pantallas de laptops */
@media screen and (max-width: 1440px) {
    .caja {
        width: 80%; /* Reducir el ancho para pantallas de laptops */
    }
}

/* Estilos para pantallas de PC */
@media screen and (min-width: 1441px) {
    .caja {
        width: 1000px; /* Mantener el ancho para pantallas de PC */
    }
}


@media screen and (max-width: 430px) and (min-height: 932px) {
    body {
        background-image: url('Imagenes/azulado.jpeg');
        background-size: cover;
        /*background-position: center;*/ /* Puedes eliminar esta línea si no deseas centrar la imagen de fondo */
    }

    body center {
        color: white;
        margin: 10px;
        padding: 2%;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    body center img {
        border-radius: 5px;
    }

    div {
        margin: 20px;
    }

    .caja {
        width: 100%;
        margin: 15px;
    }

    nav {
        position: static;
        margin-top: 50px;
        text-align: center;
    }

    nav li {
        display: inline;
        margin: 0 20px; /* Ajusta el margen entre elementos del menú */
    }

    nav a {
        text-transform: uppercase;
        color: white;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    nav a:hover {
        color: dimgrey;
        text-decoration: underline;
        font-size: 22px;
    }

    .navegacion li a.activo {
        color: grey;
        font-weight: bold;
        font-size: 22px;
    }

    h2 {
        color: white;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    ul li {
        color: white;
        font-size: 20px;
        margin: 3px;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    ul a {
        color: white;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    ul a:hover {
        color: dimgrey;
        text-decoration: underline;
        font-size: 22px;
    }
}

/* Media screen para 414x896 */
@media screen and (max-width: 414px) and (max-height: 896px) {
    body {
        background-image: url('Imagenes/azulado.jpeg');
        background-size: cover;
        background-position: center;
    }
    .caja {
        width: 80%;
        margin: 10px;
    }

    nav {
        position: absolute;
        top: 20px;
        right: 10px;
        margin-bottom: 10px;
    }

    nav li {
        display: inline;
        margin: 0 5px;
        /* Agrega otros estilos específicos para esta resolución si es necesario */
    }

    nav a {
        font-size: 5px;
    }

    .navegacion li a.activo {
        color: dimgrey; /* Cambiar el color del texto cuando está activo */
        font-weight: bold; /* Hacer el texto en negrita cuando está activo */
        font-size: 17px;
    }

    nav a:hover {
        color: dimgrey;
        text-decoration: underline;
        font-size: 12px;
    }  
    body center img {
        margin: 100px auto 0; /* Centra la imagen horizontalmente y la posiciona 100px desde la parte superior */
        display:flex; /* Hace que la imagen se comporte como un bloque */
        height: 110px;
        width: 100px;
        border-radius: 5px;
    }

    
    h2 {
        font-size: 16px;
    }

    ul li {
        font-size: 18px;
    }

    ul a {
        font-size: 18px;
    }

    ul a:hover {
        font-size: 20px;
    }
}

